@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: stretch) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}